.header {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.para {
    margin-left: 5vw;
    margin-right: 5vw;
}

.componentName {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.reference {
    margin-left: 5vw;
    margin-right: 5vw;
}