.header {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.para {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}